
{ 
  
  "extends": "airbnb-base",

  // "parserOptions": {
  //   "ecmaVersion": "latest"
  // },

  // "env": {
  //   "es6": true,
  //   "browser": true,
  //   "node": true
  // },

  "rules": {  

    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }]

  }
  
}
